body {
    text-align: center;
    font-family: sans-serif;
}

.clickerCarrot {
    margin-top: 350px;
    width: 160px;
    transition: width 0.05s ease-in-out ;
}
.clickerCarrot:active {
    width: 150px;
}
#counter {
    font-size: 60px;
}