body {
    text-align: center;
    font-family: sans-serif;
}

.screenSplitter {
    width: 50%;
    border-right: 2px solid black;
}

.clickerCarrot {
    margin-top: 350px;
    width: 160px;
    transition: width 0.05s ease-in-out;
}
.clickerCarrot:active {
    width: 150px;
}
#counter {
    font-size: 60px;
}

.upgrades {
    overflow-y: scroll;
    height: 100px;
    background-color: blueviolet;
}